*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.izquierda{
    width: 20%;
    height: 100vh;
    float: left;
}

.derecha{
    float: left;
    width: 80%;
    height: 100vh;
}

.form{
    width: 90%;
    margin: 10px auto;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 10px;
}

.form input[type=text]{
    outline: none;
  width: 100%;
  padding: 4px 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form input[type=button]{
    outline: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 12px;
}

.form input[type=button]:hover{
    background-color: #008CBA;
    color: white;
}

.table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.form input[type=file]:hover{
    width: 100%;
}
